body, ul{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover{
    color: #79e85d;
}

/*------------------------------header-------------------------------*/
#logo{
    width: 90px;
    height: 90px;
    margin-left: 20px;
    margin-top: 4px;
}

#header{
    box-sizing: border-box;
    margin-left: -10px;
    margin-top: -30px;
    width: 100%;
    height: 130px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
    margin-top: 21px;
}

#menu a{
    display: block;
    padding: .5rem;
}

#btn-mobile{
    display: none;
}

@media (max-width: 600px) {
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: white;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid #79e85d;
    }

    #btn-mobile{
        display: flex;
        padding: .5rem .1rem;
        font-size: .1rem;
        border: none;
        background: none;
        cursor: pointer;
    }

    #hamburguer{
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after ,#hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    nav.active #hamburguer{
        border-top-color: transparent;   
    }

    nav.active #hamburguer::before{
        transform: rotate(135deg);   
    }

    nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}

/*-----------------------------Footer----------------------------------*/
footer{
    position: absolute;
	background-color: rgb(25, 25, 25);
	width: 100%;
    height: 440px;
    margin-top: 43px;
}

#footerBlocos{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 3rem;
}

#divFooterBloco{
    display: block;
    white-space: pre-line;
}

#pfooterTitle{
    font: normal 16pt sans-serif;
    color: white;
}

#aFooter{
    color: white;
    font: bold 14pt sans-serif;
    line-height: 1.6;
}

#aFooter:hover{
    color: #79e85d;
    font: bold 14pt sans-serif;
    line-height: 1.6;
}

#divFooterIcon{
    display: inline-block;
    margin-top: 1.9rem;
}
#icon{
    color: white;
    padding-left: 10px;
}

#icon:hover{
    color: #79e85d;
}

#divBloco2{
    display: block;
    justify-content: space-between;
}

#footerLogo{
    width: 100px;
    height: 100px;
    padding: 0.2rem 1.9rem;
}

#fotterTexto{
    font: normal 12pt sans-serif;
    color: white;
    margin-top: -85px;
    margin-left: 140px;
}

/*-------------------------Página Inicial----------------------------*/
#imgPi1{
    margin-left: 0;
    margin-right: 0;
    margin-top: -1%;
    width: 100%;
    height: 630px;
    display: block;
    position: relative;
}

#texto1{
    position: absolute;
    color:#fff;
    text-align: center;
    margin-top: -100px;
    font: normal 20px Arial;
}

.blocoPi{
    width: 100%;
    height: 500px;
}

.blocoPi-1-1{
    background: rgb(25, 25, 25);
    width: 80%;
    padding: 1rem 10% 1rem;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.blocoPi-1-1-1{
    width: 300px;
    height: 300px;
    margin-top: 14%;
}

.img-bloco1{
    position: absolute;
}
.txt-bloco1{
    position: relative;
    color: white;
    font: bold 20pt sans-serif;
    margin-left: 10%;
    margin-top: 0%;
}

.blocoPi-2-1{
    background: #fff;
    width: 80%;
    padding: 1rem 10% 1rem;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.blocoPi-2-1-2{
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font: normal 20pt sans-serif;
}

.blocoPi-2-1-1{
    width: 300px;
    height: 300px;
    margin-top: 14%;
}

.img-bloco2{
    position: absolute;
}
.txt-bloco2{
    position: relative;
    color: black;
    font: bold 20pt sans-serif;
    margin-left: 10%;
    margin-top: 0%;
}

.blocoPi-1-1-2{
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font: normal 20pt sans-serif;
}
/*-----------------------------Parques-------------------------------*/
#imgPa1{
    position: relative;
    margin-left: 0;
    margin-top: -1%;
    width: 100%;
    height: 630px;
    display: inline-block;
}

#tPa{
    margin-top: 3%;
    text-align: center;
    font-family: sans-serif;
}
#blocos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 15rem;
}

#borda{
    padding: 0 auto;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    left: 0 auto;
    width: 250px;
    height: 550px;
    padding: 3px;
}

#blocoTxtPa{
    width: 100%;
    height: 270px;
}

#pTitleParques{
    font: bold 16pt sans-serif;
    text-align: center;
}

#pTextoParques{
    font: normal 12pt sans-serif;
    text-align: left;
}

#divBtnParques{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnParques{
    position: flex;
    background: rgb(25, 25, 25);
    color: white;
    border-radius: 10px;
    border: 0;
    width: 100%;
    height: 40px;
    font: normal 12pt sans-serif;
    font-weight: bold;
}

#blocos2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 23rem;
}
@media (max-width: 600px) {
    #blocos{
        display: block;
        align-items: center;
        padding: 0rem 6.5rem;
    }

    #borda{
        background-color: rgb(250, 250, 250);
        border: 1px solid white;
        border-radius: 3px;
        text-align: center;
        width: 250px;
        margin-top: 2rem;
    }

    #btnParques{
        background: rgb(25, 25, 25);
        color: white;
        border-radius: 10px;
        border: 0;
        width: 50%;
        height: 40px;
        font: normal 12pt sans-serif;
        font-weight: bold;
    }
}

/*----------------------------Exercícios------------------------------*/
img#imgEx1{
    position: relative;
    margin-left: 0;
    margin-top: -1%;
    width: 100%;
    height: 630px;
}

#tEx{
    margin-top: 3%;
    text-align: center;
    font-family: sans-serif;
}

#pEx1{
    font: bold 20pt sans-serif;
    text-align: center;
}

#pEx2{
    font: normal 12pt sans-serif;
    text-align: left;
}

#blocosEx{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4rem 2rem 4rem;
}

#bordaEx{
    padding: 0 auto;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    left: 0 auto;
    width: 200px;
    height: 470px;
    margin-top: 1rem;
    padding: 3px;
}

#divBlocoEx{
    width: 98%;
    height: 200px;
}

#divBtnEx{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnEx{
    background: rgb(25, 25, 25);
    color: white;
    border-radius: 10px;
    border: 0;
    width: 100%;
    height: 40px;
    font: normal 12pt sans-serif;
    font-weight: bold;
}

@media (max-width: 600px) {
    #tEx{
        margin-top: 3%;
        text-align: center;
        font-family: sans-serif;
    }

    #pEx1{
        font: 15pt sans-serif;
        
    }

    #blocosEx{
        display: block;
        align-items: left;
        padding: 3rem 7.5rem;
    }

    #bordaEx{
        padding: 0;
        background-color: rgb(250, 250, 250);
        border: 1px solid white;
        border-radius: 3px;
        left: 0;
        text-align: auto;
        width: 200px;
    }

    #btnEx{
        background: rgb(25, 25, 25);
        color: white;
        border-radius: 10px;
        border: 0;
        width: 50%;
        height: 40px;
        font: normal 12pt sans-serif;
        font-weight: bold;
    }
}

/*----------------------------Aplicativo-------------------------------*/
#secBloco{
    width: 100%;
    height: 370px;
    background-color: rgb(25, 25, 25);
    display: flex;
    padding: 0px;
    position: relative;
    margin-top: -1%;
}

#h1Bloco{
    font: normal 30pt sans-serif;
    color: white;
    margin-left: 80px;
    margin-top: 200px;
}

.divApl{
    width: 500px;
}

.pApl-1{
    font: normal 16pt sans-serif;
}
.pApl-2{
    font: bold 16pt sans-serif;
}

.h1Apl-1{
    font: normal 16pt sans-serif;
    text-align: center;
}
/*-------------------------slide--------------------------*/
.slide-main{
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.slider{
    width: 300px;
    height: 580px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 560px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 30%;
    transition: 2s;
    width: 300px;
    height: 500px;
}

.slide img{
    width: 300px;
    height: 510px;
    overflow: hidden;
}

.navigation-manual{
    position: absolute;
    width: 300px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: solid 2px black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    position: flex;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 300px;
    justify-content: center;
    margin-top: 520px;
}

.navigation-auto div{
    border: solid 2px rgb(25, 25, 25);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #000;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #000;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #000;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #000;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background: #000;
}
