/*----------------------- Imagens ------------------------*/
.gif-exercicio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-gif{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------------- Fontes e Tamanhos ------------------------*/
.secao-exercicios .titulo-terciario {
    font-weight: normal;
    padding: 0px 1.05rem;
}

.label-content {
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
}

#titulo-exercicio {
    margin: 5% auto;
}


/*-----------------------Accordion------------------------*/
.secao-orientacoes, .secao-exercicios{
    width: 80%;
    margin-left: 10%;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px 0px;
    margin-bottom: 5%;
}

.accordion-main{
    width: 100%;
    padding: 0;
}

.accordion{
    max-width: 100%;
}

.content{
    width: 99%;
    text-align: justify;
}

.content li{
    list-style: '- ';
    margin-left: -5%;
    margin-top: 1%;
}

.accordion .contentBx{
    position: relative;
    margin: 10px 10%;
    border: solid 1px rgba(25, 25, 25);
}

.accordion .contentBx .label-content{
    position: relative;
    padding: 10px;
    background: rgb(25, 25, 25);
    color: #fff;
    cursor: pointer;
}

.accordion .contentBx .label-content::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .contentBx.active .label-content::before{
    content: '-';
}

.accordion .contentBx .content{
    position: relative;
    background: rgb(253, 253, 253);
    height: 0;
    overflow: hidden;
    transition-delay: 0.5ms;
    overflow-y: auto;
}

.accordion .contentBx.active .content{
    height: auto;
}


@media (max-width: 700px) {
    .img-gif {
        width: 100%;
        margin-right: 7%;
    }

    

    .content{
        width: 100%;
    }

    .content li{
        margin-left: -8%;
    }
}

@media screen and (min-width: 700px) and (max-width: 880px) {
    .img-gif {
        width: 100%;
        margin: 0;
    }

}
