/*-----------------------------imagens----------------------------------*/
.inicial-image{
    width: 100%;
    display: block;
    height: 630px;
    margin-top: -1%;
}

#imgMapa{
    position: relative;
    width: 80%;
    height: auto;
}

#imgMapa2{
    position: relative;
    width: 80%;
    height: auto;
    margin-top: -30%;
}

/*-------------------------------mapas------------------------------------*/
iframe{
    margin-top: 0%;
    width: 45vw;
    height: 30vh;
}

/*------------------------------ Fontes e Tamanhos ------------------------------------*/
#txt-white{
    color: white;
    margin: 5%;
}

#siteParque{
    color: white;
    font-weight: bold;
    font-size: 1em;
}

#siteParque:hover{
    color: #79e85d;
}

/*------------------------------Blocos------------------------------------*/
.resumo-parque{
    width: auto;
    height: auto;
    background: rgb(25, 25, 25);
    padding: 5%;
}

.resumo-parque .titulo-principal{
    color: white;
    margin: 0px;
}

.info-parque{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;

    margin-top: 5%;
}

.detalhes-parque{
    width: 100%;
}

.sobre-parque{
    background: white;
    width: 80%;
    padding-left: 10%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre-parque .titulo-secundario {
    margin-right: 5%;
}

.atividades-parque{
    background: rgb(25, 25, 25);
    width: auto;
    padding: 1rem 10% 1rem;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mapa-parque{
    background: white;
    width: auto;
    padding: 5%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "tit-one tit-two"
        "map sli";
    justify-items: center;
    align-items: center;

}

.mapa-parque .titulo-secundario {
    grid-area: tit-one;
}

.mapa-parque .titulo-terciario {
    grid-area: tit-two;

}



.mapa-parque #imgMapa {
    grid-area: map;
}

.avaliacao-parque{
    background: white;
    width: auto;
    height: fit-content;
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pBloco{
    color: white;
    margin: 0px 5% 0px 0px;
}

.pBloco3{
    width: 600px;
} 

.pBloco4{
    width: 600px;
    padding: 10%;
    color: #fff;
}

#pBloco6{
    width: 600px;
    height: fit-content;
    padding-left: 10%;
}

#star{
    color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16pt;
}

#pstar{
    color: #000;
}

/*-------------------------slide--------------------------*/
.slide-main{
    margin: 0;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 280px;
}

.slides{
    width: 400%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 30%;
    transition: 2s;
    width: 400px;
    height: 250px;
}

.slide img{
    width: 400px;
    height: 250px;
    overflow: hidden;
}

.navigation-manual{
    position: absolute;
    width: 400px;
    margin-top: -200px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: solid 2px black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    position: flex;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 400px;
    justify-content: center;
    margin-top: 300px;
}

.navigation-auto div{
    border: solid 2px rgb(25, 25, 25);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #000;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #000;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #000;
}
/*----------------------------------------------------*/


@media screen and (max-width: 700px){

    .inicial-image{
        width: 100%;
        display: block;
        height: 440px;
        margin-top: -1%;
    }

    
    #imgMapa2{
        position: relative;
        width: 80%;
        height: auto;
        margin-top: 10%;
    }

    /*Resumo do Parque */
    .resumo-parque {
        width: auto;
        height: auto;
        box-sizing: content-box;
        padding: 5% 5% 10% 5%;
    }

    .info-parque {
        display: inline-block;
        margin-bottom: 5%;
    }

    #pBloco {
        margin: 5% 0px 10% 0px;
        text-align: left;
    }

    #pBloco li {
        list-style: none;
        color: white;
    }


    iframe{
        width: 100%;
        height: 50vh;
    }


    /* Sobre o Parque */
    .sobre-parque, .atividades-parque, .avaliacao-parque {
        width: auto;
        height: fit-content;
        display: block;

        padding: 5%;
        margin: 5% 0px;
    }
 
    .pBloco3 {
        display: block;
        width: auto;
    } 

    /* Atividades no Parques */
    .atividades-parque .pBloco4 {
        width: auto;
        padding-top: 5%;
    } 

    /* Mapa do Parque */
    .mapa-parque {
        height: fit-content;
        display: inline-block;
        padding: 0px;
        text-align: center;
        
    }

    .slide-main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mapa-parque .titulo-terciario {
        text-align: center;
        margin-top: 20%;
    }

   /* Avaliação */
    #star {
        justify-content: space-evenly;
        margin: 0px;
        padding: 0px 2px;
    }

    #pstar {
        font-size: 18px;
    }

    #pBloco6 {
        width: auto;
        height: fit-content;
        padding: 0px;
    } 

}

@media screen and (min-width: 700px) and (max-width: 880px) {
    .resumo-parque {
        width: auto;
        height: auto;
        box-sizing: content-box;
        padding: 5% 5% 10% 5%;
    }

    .info-parque {
        display: inline-block;
        margin-bottom: 5%;
    }

    #pBloco {
        margin: 5% 0px 10% 0px;
    }

    #pBloco li {
        list-style: none;
        color: white;
    }

    iframe{
        width: 90vw;
        height: 40vw;
    }

    /* Sobre parque */
    .sobre-parque, .avaliacao-parque div {
        width: auto;
        height: fit-content;
        padding: 5%;
    }

    .pBloco3 {
        padding: 5%;
    }

    /* Mapa do Parque */
    .mapa-parque {
        height: fit-content;
        padding: 0px 5%;
        text-align: center;
        display: inline-block;
    }

    .slide-main {
        display: inline-block;
    }

    .mapa-parque .titulo-secundario {
        margin-bottom: 10%;
    }

    .mapa-parque .titulo-terciario {
        text-align: center;
    }

    /* Avaliação */
    #star {
        justify-content: space-between;
        margin: 0px;
        padding: 0px 2px;
    }

}
